.meme_generator{
    font-family:"Roboto", sans-serif;
    text-align: center;
    

}

.meme_generator img{
    height: 430px;
    object-fit: cover;
    border: 4px solid grey;
}

.meme_generator .generate_meme_btn{
    padding: 8px 20px;
    border: 2px solid black;
    margin: 24px 0;
    font-size: 20px;
    color: #f64d4d;
    background: white;
    cursor: pointer;
    transition: all 300ms ease;
}

.meme_generator .generate_meme_btn:hover{
    padding: 8px;
    border: 8px solid grey;
    letter-spacing: 4px;
}
.meme_generator .meme_ups{
    margin: 6px;
    
   
}


.meme_generator .meme_author{
    margin: 8px;
   

    
    
}

